upstream web_upstreams {
{% for container in containers %}
    server {{container['primaryIpAddress']}}:backend_service_port;
{% endfor %}
}

server {
    listen frontend_service_port;
    proxy_pass web_upstreams;
    proxy_timeout 1s;
}
