upstream dns_udp_upstreams {
{{ with service "{{ .Env.BACKEND_SERVICE_NAME }}" }}
{{   range .Containers }}
    server {{ .Address }}:{{ .Env.BACKEND_SERVICE_PORT }};
{{   end }}
{{ end }}
}

upstream dns_tcp_upstreams {
{{ with service "{{ .Env.BACKEND_SERVICE_NAME }}" }}
{{   range .Containers }}
    server {{ .Address }}:{{ .Env.BACKEND_SERVICE_PORT }};
{{   end }}
{{ end }}
}

server {
    listen {{ .Env.FRONTEND_SERVICE_PORT }} udp;
    proxy_pass dns_udp_upstreams;
    proxy_timeout 1s;
    proxy_responses 1;
}

server {
    listen {{ .Env.FRONTEND_SERVICE_PORT }};
    proxy_pass dns_tcp_upstreams;
    proxy_timeout 1s;
}
